.container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25em 0.5em;
  border-radius: var(--default-border-radius);
  background-color: var(--color-primary);
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  opacity: 0.75;
  transition: all 0.25s var(--transition-out-cubic);
}

.container:hover {
  opacity: 1;
  box-shadow: var(--shadow-lg);
}
