* {
  font-family: "GT Walsheim Pro", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
}

#root {
  display: flex;
  flex-direction: column;
}

select {
  background-color: var(--color-white);
  border-radius: var(--default-border-radius);
}
